body {
	font-family: 'Happy Monkey', cursive;
}

.hero {
	background-color: #f4f4f4;
	text-align: center;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

span {
	color: #F4B400;
	font-size: 25px;
}

footer {
	text-align: center;
}



div[class="container"] {
	width: 800px;
	align-content: center;
	padding-right: 50px;
	padding-left: 50px;
	text-shadow: 1px 1px 0px #000000;
}

p {
	color: #707070;
}

li {
	color: #707070;
}

h1, h2, h3 { 
	text-align: center;
}
h1 {
	color: #DB0038;
}

h2 {
	color: #3998A3;
}

h3 {
	color: #474747;
}
